<a href="https://colab.research.google.com/github/Swathi-Thandavarayan/STORE-DATA-PREDICTION/blob/main/STORE_DATA_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#DATA IMPORT

In [2]:
path1 = '/content/Features_data_set.csv'
path2 = '/content/sales_data_set.csv'
path3 = '/content/stores_data_set.csv'
data_feature = pd.read_csv(path1)
data_sales = pd.read_csv(path2)
data_stores = pd.read_csv(path3)

In [3]:
data_feature

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [4]:
data_sales

       Store  Dept        Date  Weekly_Sales IsHoliday
0          1     1  05/02/2010      24924.50     False
1          1     1  12/02/2010      46039.49      True
2          1     1  19/02/2010      41595.55     False
3          1     1  26/02/2010      19403.54     False
4          1     1  05/03/2010      21827.90     False
...      ...   ...         ...           ...       ...
68262      7    95  17/06/2011      34726.21     False
68263      7    95  24/06/2011      38203.12     False
68264      7    95  01/07/2011      42550.03     False
68265      7    95  08/07/2011      47194.97     False
68266      7    95  15/07/2011        411.00       NaN

[68267 rows x 5 columns]

In [5]:
data_stores

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

# DATA CLEANING

##Features

shape
dtype
null
describe
duplicates

In [6]:
data_feature.shape

(8190, 12)

In [7]:
data_feature.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [8]:
data_feature.columns

Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [9]:
data_feature.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

###store

In [10]:
data_feature.Store.dtype

dtype('int64')

In [11]:
data_feature.Store.isnull().sum()

0

In [12]:
data_feature.Store.describe()

count    8190.000000
mean       23.000000
std        12.987966
min         1.000000
25%        12.000000
50%        23.000000
75%        34.000000
max        45.000000
Name: Store, dtype: float64

In [45]:
data_feature.Store.value_counts()

Store
1     182
24    182
26    182
27    182
28    182
29    182
30    182
31    182
32    182
33    182
34    182
35    182
36    182
37    182
38    182
39    182
40    182
41    182
42    182
43    182
44    182
25    182
23    182
2     182
22    182
3     182
4     182
5     182
6     182
7     182
8     182
9     182
10    182
11    182
12    182
13    182
14    182
15    182
16    182
17    182
18    182
19    182
20    182
21    182
45    182
Name: count, dtype: int64

IQR

In [13]:
q3 = data_feature.Store.quantile(.75)
q1 = data_feature.Store.quantile(.25)
iqr = q3 - q1

upper_threshold = q3 + (1.5 * iqr)
lower_threshold = q1 - (1.5 * iqr)

upper_threshold, lower_threshold

(67.0, -21.0)

###Date

In [46]:
data_feature.Date.value_counts()

Date
05/02/2010    45
13/04/2012    45
27/04/2012    45
04/05/2012    45
11/05/2012    45
              ..
15/04/2011    45
22/04/2011    45
29/04/2011    45
06/05/2011    45
26/07/2013    45
Name: count, Length: 182, dtype: int64

In [14]:
data_feature.Date.isnull().sum()

0

In [15]:
data_feature.Date.describe()

count           8190
unique           182
top       05/02/2010
freq              45
Name: Date, dtype: object

###Temperature

In [16]:
data_feature.Temperature.isnull().sum()

0

In [17]:
data_feature.Temperature.describe()

count    8190.000000
mean       59.356198
std        18.678607
min        -7.290000
25%        45.902500
50%        60.710000
75%        73.880000
max       101.950000
Name: Temperature, dtype: float64

In [18]:
q3 = data_feature.Temperature.quantile(.75)
q1 = data_feature.Temperature.quantile(.25)
iqr = q3 - q1

upper_threshold = q3 + (1.5 * iqr)
lower_threshold = q1 - (1.5 * iqr)

upper_threshold, lower_threshold

(115.84625, 3.936249999999994)

In [19]:
# since there are values below the lower threshold
data_feature.Temperature = data_feature.Temperature.clip(lower_threshold, upper_threshold)

In [20]:
data_feature.Temperature.describe()

count    8190.000000
mean       59.361640
std        18.661167
min         3.936250
25%        45.902500
50%        60.710000
75%        73.880000
max       101.950000
Name: Temperature, dtype: float64

###Fuel_Price

In [21]:
data_feature.Fuel_Price.isnull().sum()

0

In [22]:
data_feature.Fuel_Price.describe()

count    8190.000000
mean        3.405992
std         0.431337
min         2.472000
25%         3.041000
50%         3.513000
75%         3.743000
max         4.468000
Name: Fuel_Price, dtype: float64

In [23]:
q3 = data_feature.Fuel_Price.quantile(.75)
q1 = data_feature.Fuel_Price.quantile(.25)
iqr = q3 - q1

upper_threshold = q3 + (1.5 * iqr)
lower_threshold = q1 - (1.5 * iqr)

lower_threshold,upper_threshold

(1.988, 4.795999999999999)

hence no outliers